* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

.left-side-container {
  height: 100vh; /* To fit into one single page */
  width: 35%; /* Occupy the left portion */
  overflow: hidden; /* Fit into Single Page */
  position: relative; /* relative for logo to be absolute */
}

.right-side-container {
  width: 65%;
  border: 2px solid red;
}

.bg-img {
  /* Fill Image inside div */
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.logo {
  /* Overlay image on bg with top and left */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
